/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body { height: 100%;}

body {
    line-height: 14px;
    background-color: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    width: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, 
h2 {
    color: #428fcb;
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: normal;
    line-height: 1em;
}

/*************/
/* container */
/*************/
#container {
    max-width: 960px;
    padding: 0 2%;
    margin: 0 auto;
    height: 100%;
}

/***********/
/* top-div */
/***********/
#top-bar {
    padding: 15px 0;
}

#top-bar:after {
    clear: both;
    content: '';
    display: block;
}

/* logo */
#top-bar .logo {
    background-image: url('../images/logo_startersub.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    float: left;
    width: 45%;
    height: 50px;
}

/* nav */
.nav {
    float: right;
    padding: 9px 0;
}

#top-bar .open {
    display: hidden;
    float: right;
}

#top-bar .nav ul {
    list-style-type: none;
    text-align: right;
}

#top-bar .nav ul:after {
    clear: both;
    content: '';
    display: block;
}

#top-bar .nav ul li {
    float: left;
    margin-left: 20px;
}

#top-bar .nav ul li:first-child {
    margin-left: 0;
}

#top-bar .nav ul li a {
    display: block;
    padding: 8px 0;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    color: #CCC;
    text-shadow: 1px 1px white, -1px -1px #444;
    text-decoration: none;
}

#top-bar .nav ul li.active a,
#top-bar .nav ul li a:hover{
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
}

#top-bar .nav ul li a i {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

#top-bar .nav ul li a i.i-home {background-image: url('../images/nav/home.png');}
#top-bar .nav ul li a i.i-maps {background-image: url('../images/nav/pointer.png');}
#top-bar .nav ul li a i.i-account {background-image: url('../images/nav/account.png');}

/**************/
/* map-canvas */
/**************/
#gmaps { 
    position: relative;
    height: 75%;
    width: 100%;
}

/* map-canvas */
#gmaps #map-canvas {
    height: 100%;
}

/* gmaps-nav */
#gmaps .gmaps-nav {
    position: absolute;
    margin: 0 auto;
    top: 30px;
    left: calc(50% - 300px);
    width: 600px;
}

#gmaps .gmaps-nav ul {
    list-style-type: none;
}

#gmaps .gmaps-nav ul:after {
    clear: both;
    content: '';
    display: block;
}

#gmaps .gmaps-nav ul li {
    float: left;
    border-left: 0.16666666666 solid #CCC;
    width: 33.33333333%;
    text-align: center;
}

#gmaps .gmaps-nav ul li a {
    background-color: #FFF;
    font-size: 0.8em;
    text-decoration: none;
    color: #808080;
    display: block;
    padding: 12px 30px;
    border-left: 1px solid #ccc;
}

#gmaps .gmaps-nav ul li a:hover {
    background-color: #eaeaea;
}

#gmaps .gmaps-nav ul li:first-child a {
    border-left: 0px;
}

#gmaps .gmaps-nav ul li a i {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

#gmaps .gmaps-nav ul li a i.i-wat {background-image: url('../images/nav/wat.png');}
#gmaps .gmaps-nav ul li a i.i-hoe {background-image: url('../images/nav/hoe.png');}
#gmaps .gmaps-nav ul li a i.i-legenda {background-image: url('../images/nav/legenda.png');}


#gmaps .radar {
    background-image: url('../images/radar.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    width: 70px;
    height: 70px;
    display: block;
}

#gmaps .radar .rings  {
    position: relative;
    height: inherit;
}

#gmaps .radar .ring  {
    width: 0;
    padding:25px;
    border: 10px solid #61caea;
    -webkit-animation-name: 'pulse_animation';
    -webkit-animation-duration: 3000ms;
    -webkit-transform-origin:70% 70%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
}

@-webkit-keyframes pulse_animation {
    0% { -webkit-transform: scale(1); }
    30% { -webkit-transform: scale(1); }
    40% { -webkit-transform: scale(1.08); }
    50% { -webkit-transform: scale(1); }
    60% { -webkit-transform: scale(1); }
    70% { -webkit-transform: scale(1.05); }
    80% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(1); }
}

/**********/
/* header */
/**********/
#header {
    background-image: url('../images/header.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    height: 37%;
    width: 100%;
}

/* profile-logo */
#header .profile-logo {
    position: absolute;
    bottom: -90px;
    left: calc(50% - 115px);
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

#header .profile-logo img {
    width: 230px;
    height: 230px;
}

/***********/
/* content */
/***********/
#content {
    padding: 120px 85px 25px;
    text-align: center;
}

#content p {
    color: #939ca3;
    font-size: 1.2em;
    line-height: 1.2em;
}

/************/
/* services */
/************/
#services {
    background-color: #c2def2;
    text-align: center;
    padding: 35px;
}

#services .text {
    padding: 0 50px;
}

/* text */
#services .text p {
    color: #939ca3;
    line-height: 1.2em;
}

/* carrousel liquid */
#services .liquid {
    margin-bottom: 20px;
}

#services .wrapper:after {
    clear: both;
    content: '';
    display: block;
}

#services .liquid .arrow {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    height: 132px;
    width: 50px;
}

#services .liquid .previous { 
    background-image:url('../images/prev.png');
    float:left;
}

#services  .liquid .next {
    background-image:url('../images/next.png');
    float:right;
}

#services .liquid ul {
    display: inline-block;
}

#services .liquid ul li {
    width: 180px;
    height: 130px;
    margin-left: 30px;
    display: inline-block;
}

#services .liquid ul li:first-child {
    margin-left: 0;
}

#services .liquid ul li img {
    width: 100%;
    height: 100%;
}

/* info-bar */
#info-bar {
    display: none;
    background-color: #FFF;
    padding: 25px 100px;
}

#info-bar .wrapper {
    display: inline-block;
}

#info-bar .wrapper:after {
    clear: both;
    content: '';
    display: block;
}

#info-bar .info {
    display: inline-block;
    width: 84%;
    float: left;
}

#info-bar .info h2 {
    margin-bottom: 10px;
}

#info-bar .info:after {
    clear: both;
    content: '';
    display: block;
}

#info-bar .org-logo {
    float: left;
}

#info-bar .org-logo img {
    float: left;
}

#info-bar .text {
    float: right;
    width: 82%;
    padding: 10px 0;
}

#info-bar .text h2 a {
    color: #428fcb;
    text-decoration: none;
}

#info-bar .text p {
    font-size: 0.8em;
    color: #939ca3;
}

#info-bar .arrow {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    height: 86px;
    width: 5%;
}

#info-bar .previous { 
    background-image:url('../images/prev.png');
    float:left;
    margin-right: 3%;
}

#info-bar .next {
    background-image:url('../images/next.png');
    float:right;
    margin-left: 3%;
}

/***********/
/* contact */
/***********/
#contact {
    text-align: center;
    padding: 30px 0;
}

#contact .icons {
    margin: 0 auto;
}

#contact .icons a {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

#contact .icons a:first-child {
    margin-left: 0;
}

#contact .icons a.phone {
    background-image: url('../images/phone.png');
}

#contact .icons a.mail {
    background-image: url('../images/mail.png');
}

#contact .icons a.chat {
    background-image: url('../images/chat.png');
}

/* browsehappy */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    h1, 
    h2 {
        font-size: 1.25em;
    }

    #top-bar {
        padding: 15px;
    }

    #top-bar .logo {
        height: 15px;
    }

    /* nav */
    #top-bar .nav {
        position: relative;
        padding: 10px 0 0;
        float: right;
        width: 100%;
        display: none;
    }

    #top-bar .open {
        display: block;
        cursor: pointer;
    }

    #top-bar .open i {
        background-color: #CCC;
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 3px;
    }

    #top-bar .open i:first-child {
        margin-top: 0;
    }

    #top-bar .nav ul {
        background-color: #FFF;
        position: absolute;
        right: -15px;
        left: -15px;
        padding: 0;
        z-index: 10;
        text-align: center;
    }

    #top-bar .nav ul li {
        float: none;
        display: inline-block;
        margin-left: 40px;
    }

    #top-bar .nav ul li a {
        border-top: 0 !important;
        border-bottom: 0 !important;
        padding: 8px 10px;
    }

    #top-bar .nav ul li a i {
        display: inline-block;
        margin-right: 0;
    }

    #top-bar .nav ul li a span {
        display: none;
    }

    /* gmaps controls */
    #gmaps .gmnoprint {
        display: none;
    }

    /* gmaps nav */
    #gmaps .gmaps-nav {
        left: calc(50% - 140px);
        width: 280px;
    }

    #gmaps .gmaps-nav ul li a {
        font-size: 0.5em;
        padding: 7px 10px;
    }

    #gmaps .gmaps-nav ul li a i {
        width: 7px;
        height: 7px;
    }

    #header {
        height: 30%;
    }

    /* profile-logo */
    #header .profile-logo {
        bottom: -40px;
        left: calc(50% - 40px);
    }

    #header .profile-logo img {
        width: 80px;
        height: 80px;
    }

    /* content */
    #content {
        padding: 80px 25px 40px;
    }

    #content p {
        font-size: 0.7em;
    }

    /* service */
    #services {
        padding: 15px;
    }

    #services .liquid .arrow {
        height: 40px;
        width: 15px;
    }

    #services .liquid ul li {
        width: 60px;
        height: 40px;
        margin-left: 10px;
    }

    #services .text p {
        font-size: 0.7em;
    }
    
    /* info-bar */
    #info-bar {
        padding: 15px 15px 10px;
    }

    #info-bar .org-logo img {
        width: 35px;
    }

    #info-bar .arrow {
        height: 35px;
    }

    #info-bar .text {
        padding: 0;
    }

    #info-bar .text h2 {
        font-size: 1em;
        margin-bottom: 5px;
    }

    #info-bar .text p {
        font-size: 0.6em;
        line-height: 1.1em;
    }

}

/* Small devices (tablets, 768px and up) */
@media and (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media and  (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media and (min-width: 1200px) {  }