html { height: 100% }

body {
    background: #EDF2F7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*************/
/* container */
/*************/
#container {
    padding: 20px;
}

/***********/
/* top-div */
/***********/
#top-bar {
    padding:5px 0;
}

#top-bar:after {
    clear: both;
    content: '';
    display: block;
}

/* logo */
#top-bar .logo {
    background-image: url('../images/logo_startersub.png');
    background-size: 100% 100%;
    float: left;
    width: 55%;
    height: 50px;
}

/* nav */
.nav {
    float: right;
}

#top-bar .nav ul {
    list-style-type: none;
    text-align: right;
}

#top-bar .nav ul:after {
    clear: both;
    content: '';
    display: block;
}

#top-bar .nav ul li {
    float: left;
    margin-left: 10px;
}

#top-bar .nav ul li:first-child {
    margin-left: 0;
}

#top-bar .nav ul li a {
    display: block;
    padding: 8px 0;
    border-top: 1px solid #EDF2F7;
    border-bottom: 1px solid #EDF2F7;
}

#top-bar .nav ul li.active a,
#top-bar .nav ul li a:hover{
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
}

#top-bar .nav ul li a {
    color: #CCC;
    text-shadow: 1px 1px white, -1px -1px #444;
    text-decoration: none;
}

/**************/
/* map-canvas */
/**************/
#gmaps { 
    position: relative;
    height: 500px;
    width: 100%;
}

/* map-canvas */
#gmaps #map-canvas {
    height: 500px;
}

/* gmaps-nav */
#gmaps .gmaps-nav {
    position: absolute;
    top: 20px;
    left:50%;
}

#gmaps .gmaps-nav ul {
    list-style-type: none;
}

#gmaps .gmaps-nav ul li {
    float: left;
}

#gmaps .gmaps-nav ul li a {
    text-decoration: none;
    color: #CCC;
    display: block;
}


/***********/
/* legenda */
/***********/
#legenda {
    background: white;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 150px;
    right: 20px;
    visibility: hidden;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    #top-bar .logo {
        height: 25px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {

}