/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body { height: 100%;}

body {
    line-height: 14px;
    background-color: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    width: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, 
h2 {
    color: #428fcb;
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: normal;
    line-height: 1em;
}

/*************/
/* container */
/*************/
#container {
    max-width: 960px;
    padding: 0 3%;
    margin: 0 auto;
    height: 100%;
}

#container.intro {
    background: url("../images/intro-background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
  }

/***********/
/* top-div */
/***********/
#top-bar {
    padding: 15px 0;
}

.intro #top-bar {
    background-color: white;
    padding: 15px calc(2% + 15px);
}

#top-bar:after {
    clear: both;
    content: '';
    display: block;
}

/* logo */
#top-bar .logo {
    background-image: url('../images/logo_startersub.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    float: left;
    width: 45%;
    height: 50px;
}

/* nav */
.nav {
    float: right;
    padding: 9px 0;
}

#top-bar .open {
    display: hidden;
    float: right;
}

#top-bar .nav ul {
    list-style-type: none;
    text-align: right;
}

#top-bar .nav ul:after {
    clear: both;
    content: '';
    display: block;
}

#top-bar .nav ul li {
    float: left;
    margin-left: 20px;
}

#top-bar .nav ul li:first-child {
    margin-left: 0;
}

#top-bar .nav ul li a {
    display: block;
    padding: 8px 0;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    color: #CCC;
    text-shadow: 1px 1px white, -1px -1px #444;
    text-decoration: none;
}

#top-bar .nav ul li.active a,
#top-bar .nav ul li a:hover{
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
}

#top-bar .nav ul li a i {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

#top-bar .nav ul li a i.i-home {background-image: url('../images/nav/home.png');}
#top-bar .nav ul li a i.i-maps {background-image: url('../images/nav/pointer.png');}
#top-bar .nav ul li a i.i-account {background-image: url('../images/nav/account.png');}

/**************/
/* map-canvas */
/**************/
#gmaps { 
    position: relative;
    height: 81.5%;
    width: 100%;
    background-color: #f2f2f2;
}

/* map-canvas */
#gmaps #map-canvas {
    height: 100%;
    display: block;
}

/* gmaps-nav */
#gmaps .gmaps-nav {
    position: absolute;
    margin: 0 auto;
    top: 20px;
    left: calc(50% - 300px);
    width: 600px;
    box-shadow: 1px 1px 1px #CCC;
}

#gmaps .gmaps-nav ul {
    list-style-type: none;
    position: relative;
}

#gmaps .gmaps-nav ul:after {
    clear: both;
    content: '';
    display: block;
}

#gmaps .gmaps-nav ul li {
    float: left;
    border-left: 0.16666666666% solid #CCC;
    width: 33.33333333%;
    text-align: center;
}

#gmaps .gmaps-nav ul li a {
    background-color: #FFF;
    font-size: 0.8em;
    text-decoration: none;
    color: #808080;
    display: block;
    padding: 12px 30px;
    border-left: 1px solid #ccc;
}

#gmaps .gmaps-nav ul li a:hover,
#gmaps .gmaps-nav ul > li.active a {
    color: #2985c7;
}

#gmaps .gmaps-nav ul li:first-child a {
    border-left: 0px;
}

#gmaps .gmaps-nav ul li .legenda li:last-child {
    border-top: 0px;
}

#gmaps .gmaps-nav ul li a i {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

#gmaps .gmaps-nav ul li a i.i-wat {background-image: url('../images/nav/wat.png');}
#gmaps .gmaps-nav ul li a i.i-hoe {background-image: url('../images/nav/hoe.png');}
#gmaps .gmaps-nav ul li a i.i-legenda {background-image: url('../images/nav/legenda.png');}


#gmaps .radar {
    background-image: url('../images/radar-button.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    width: 70px;
    height: 70px;
    display: block;
}

#gmaps .radar:active {
    background-image: url('../images/radar-button-active.png');
}

#gmaps .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.labels { 
    color: #FFF; 
    font-family: Arial; 
    font-size: 10px; 
    font-weight: bold; 
    text-align: center; 
    width: 12px; 
}

#gmaps .overlay[data-ping='true'] {
    -webkit-animation: ping 0.5s forwards ;
}

@-webkit-keyframes ping {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/**********/
/* header */
/**********/
#header {
    background-image: url('../images/header.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 -75px;
    position: relative;
    height: 37%;
    width: 100%;
}

/* profile-logo */
#header .profile-logo {
    position: absolute;
    bottom: -90px;
    left: calc(50% - 115px);
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

#header .profile-logo img {
    width: 230px;
    height: 230px;
}

/***********/
/* content */
/***********/
#content {
    padding: 120px 85px 25px;
    text-align: center;
}

#content p {
    color: #939ca3;
    font-size: 1.2em;
    line-height: 1.2em;
}

/************/
/* services */
/************/
#services {
    background-color: #c2def2;
    text-align: center;
    padding: 35px;
}

#services .text {
    padding: 0 50px;
}

/* text */
#services .text p {
    color: #939ca3;
    line-height: 1.2em;
}

/* carrousel liquid */
#services .liquid {
    margin-bottom: 20px;
}

#services .wrapper:after {
    clear: both;
    content: '';
    display: block;
}

#services .liquid .arrow {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    height: 132px;
    width: 50px;
}

#services .liquid .arrow:hover {
    cursor: pointer;
}

#services .liquid .previous { 
    background-image:url('../images/prev.png');
    float:left;
}

#services  .liquid .next {
    background-image:url('../images/next.png');
    float:right;
}

#services .liquid ul {
    display: inline-block;
}

#services .liquid ul li {
    width: 180px;
    height: 130px;
    margin-left: 30px;
    display: inline-block;
}

#services .liquid ul li:first-child {
    margin-left: 0;
}

#services .liquid ul li img {
    width: 100%;
    height: 100%;
}

/***************/
/* wat hoe zie */
/***************/
#gmaps .box {
    background-color: #f2f2f2;
    padding: 70px 10px 0;
    color: #808080;
    box-shadow: 0 1px 0px 0px #CCC inset;
}

#gmaps .box h2 {
    font-size: .8em;
    color: #808080;
    font-weight: bold;
    line-height: .9em;
    margin-bottom: 10px;
}

#gmaps .box p {
    font-size: .5em;
}

#gmaps div.wat {
  display: none;
}

#gmaps div.hoe {
    display: none;
}

/* zie */
#gmaps div.zie {
   display: none;
}

#gmaps div.zie ul {
    background-color: #FFF;
    width: 260px;
    box-shadow: 1px 1px 1px #CCC;
    padding: 7px 10px;
}

#gmaps div.zie li {
   display: inline-block;
   width: 46%;
   border-top: 1px solid #ccc;
   padding: 3px 0;
}

#gmaps div.zie li:first-child {
   border-top: 0px;
}

#gmaps div.zie li:first-child + li {
   border-top: 0px;
}

#gmaps div.zie li:nth-child(odd) {
    margin-right: 4%;
}

#gmaps div.zie li img {
   width: 12px;
   height: 20px;
   margin-right: 10px;
}

#gmaps div.zie li span {
    font-size: .7em;
    display: inline-block;
    vertical-align: 7px;
}

#gmaps div.zie .text {
   margin-top: 20px;
}


/* info-bar */
#info-bar {
    display: none;
    background-color: #FFF;
    padding: 25px 100px;
}

#info-bar .wrapper {
    display: block;
}

#info-bar .wrapper:after {
    clear: both;
    content: '';
    display: block;
}

#info-bar .info {
    display: inline-block;
    width: 75%;
    float: left;
    padding: 10px 0 10px 15px;
}

#info-bar .info h2 {
    margin-bottom: 10px;
    padding-left: 10px;
}

#info-bar .info:after {
    clear: both;
    content: '';
    display: block;
}

#info-bar .org-logo {
    float: left;
}

#info-bar .org-logo img {
    float: left;
}

#info-bar .text {
    float: right;
    width: 82%;
}

#info-bar .text h2 a {
    color: #428fcb;
    text-decoration: none;
}

#info-bar .text p {
    font-size: 0.8em;
    color: #939ca3;
}

#info-bar .arrow {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    height: 86px;
    width: 5%;
}

#info-bar .previous { 
    background-image:url('../images/prev.png');
    float:left;
    margin-right: 3%;
}

#info-bar .next {
    background-image:url('../images/next.png');
    float:right;
    margin-left: 3%;
}

/***********/
/* contact */
/***********/
#contact {
    text-align: center;
    padding: 30px 0;
}

#contact .icons {
    margin: 0 auto;
}

#contact .icons a {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

#contact .icons a:first-child {
    margin-left: 0;
}

#contact .icons a.phone {
    background-image: url('../images/phone.png');
}

#contact .icons a.mail {
    background-image: url('../images/mail.png');
}

#contact .icons a.chat {
    background-image: url('../images/chat.png');
}

/* browsehappy */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#info-bar .allinfo {
    background-color: #f2f2f2;
    display: none;
    margin-top: 15px;
    padding: 10px;
    min-height: 430px;
    color: #808080;
    text-align: center;
}

#info-bar .allinfo .match {
    padding-top: 20px;
}

#info-bar .allinfo .match p {
    font-size: .8em;
}

#info-bar .allinfo .match p {
    font-size: .8em;
}

#info-bar .allinfo .priceranked {
    background-color: #FFF;
    margin: 20px -10px;
    padding: 25px 0;
}

#info-bar .allinfo .diagrams .diagram {
   display: inline-block;
   margin-left: 20px;
}

#info-bar .allinfo .diagrams .diagram:first-child {
   margin-left: 0;
}

#info-bar .allinfo .diagrams p {
    font-size: .6em;
}

#info-bar .allinfo .priceranked .price,
#info-bar .allinfo .priceranked .ranked  {
    display: inline-block;
    padding: 10px 40px;
}

#info-bar .allinfo .priceranked .price  {
    padding: 10px 30px;
}

#info-bar .allinfo .priceranked p  {
   font-size: .6em;
}

#info-bar .allinfo .priceranked .price  {
    border-right: 1px solid #ccc;
}

#info-bar .allinfo .priceranked .price h2  {
    color: #29C786;
    font-weight: bold;
    margin-bottom: 5px;
}

#info-bar .allinfo .priceranked .ranked h2  {
    color: #7329c7;
    font-weight: bold;
    margin-bottom: 5px;
}

.circliful {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.circle-info, .circle-info-half {
    color: #999;
}

.circliful .fa {
    margin: -10px 3px 0 3px;
    position: relative;
    bottom: 4px;
}

.circliful i.ov {
    background-image: url('../images/ov.png');
    background-position: 0 0;
    -webkit-background-size: 100% auto;
         -o-background-size: 100% auto;
            background-size: 100% auto;
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    display: block;
    position: absolute;
    top: 26px;
    left: calc(50% - 8px);
}

#info-bar .ranked i.star {
    background-image: url('../images/star.png');
    background-position: 0 0;
    -webkit-background-size: 100% auto;
         -o-background-size: 100% auto;
            background-size: 100% auto;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    h1, 
    h2 {
        font-size: 1.25em;
    }

    #top-bar {
        padding: 15px 10px;
    }

    #top-bar .logo {
        height: 15px;
    }

    /* nav */
    #top-bar .nav {
        position: relative;
        padding: 10px 0 0;
        float: right;
        width: 100%;
        display: none;
    }

    #top-bar .open {
        display: block;
        cursor: pointer;
    }

    #top-bar .open i {
        background-color: #CCC;
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 3px;
    }

    #top-bar .open i:first-child {
        margin-top: 0;
    }

    #top-bar .nav ul {
        background-color: #FFF;
        position: absolute;
        right: -15px;
        left: -15px;
        padding: 0;
        z-index: 10;
        text-align: center;
    }

    #top-bar .nav ul li {
        float: none;
        display: inline-block;
        margin-left: 40px;
    }

    #top-bar .nav ul li a {
        border-top: 0 !important;
        border-bottom: 0 !important;
        padding: 8px 10px;
    }

    #top-bar .nav ul li a i {
        display: inline-block;
        margin-right: 0;
    }

    #top-bar .nav ul li a span {
        display: none;
    }

    /* gmaps controls */
    #gmaps .gmnoprint {
        display: none;
    }

    /* gmaps nav */
    #gmaps .gmaps-nav {
        left: calc(50% - 140px);
        width: 280px;
    }

    #gmaps .gmaps-nav ul li a {
        font-size: 0.5em;
        padding: 7px 10px;
    }

    #gmaps .gmaps-nav ul li a i {
        width: 7px;
        height: 7px;
    }

    #header {
        height: 30%;
        background-position: 0 0;
    }

    /* profile-logo */
    #header .profile-logo {
        bottom: -40px;
        left: calc(50% - 40px);
    }

    #header .profile-logo img {
        width: 80px;
        height: 80px;
    }

    /* content */
    #content {
        padding: 80px 25px 40px;
    }

    #content p {
        font-size: 0.7em;
    }

    /* service */
    #services {
        padding: 15px;
    }

    #services .liquid .arrow {
        height: 40px;
        width: 15px;
    }

    #services .liquid ul li {
        width: 60px;
        height: 40px;
        margin-left: 10px;
    }

    #services .text p {
        font-size: 0.7em;
    }
    
    /* info-bar */
    #info-bar {
        padding: 15px 15px 10px;
        position: relative;
    }

    #info-bar .org-logo img {
        width: 25px;
    }

    #info-bar .arrow {
        height: 20px;
        margin-top: 3px;
    }

    #info-bar .text {
        padding-top: 7px;
    }

    #info-bar .text h2 {
        margin-bottom: 0;
        padding-left: 0;
        font-size: 1em;
    }

    #info-bar .text a {
    }

    #info-bar .info {
        padding: 0 20px;
        width: 68%;
    }

    #info-bar .slidebtn {
        background-image: url('../images/slidebtn.png');
        -webkit-background-size: 100%;
             -o-background-size: 100%;
                background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 50px;
        height: 12px;
        position: absolute;
        left: calc(50% - 25px);
        top: -10px;
        cursor: pointer;
    }

    #intro-container {
        margin: auto 14%;
        padding: 10%;
        background-color: white;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    #intro-container .intro-content {
        visibility: visible;
    }

    #intro-container .intro-button {
        width: 40px;
        margin: 0 auto;
    }

}

/* Small devices (tablets, 768px and up) */
@media and (min-width: 768px){  }

/* Medium devices (desktops, 992px and up) */
@media and  (max-width: 992px) { 
    #header {
        background-position: 0 -186px;
    }
 }

/* Large devices (large desktops, 1200px and up) */
@media and (min-width: 1200px) {  }